SECRET_KEY=SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.settings.SETTINGS_CHANGE

DATABASE_URL=DATABASE_URL_CHANGE
DB_NAME=DB_NAME_CHANGE
DB_USER=DB_USER_CHANGE
DB_PASSWORD=DB_PASSWORD_CHANGE
DB_HOST=DB_HOST_CHANGE
DB_PORT=DB_PORT_CHANGE